{% extends 'base.html' %}
{% block title %}View exam{% endblock title %}
{% block viewexamcontent %}
<h1>View exam</h1>



<div class="container ">
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th scope="col">S.N</th>
                <th scope="col">Exam Name</th>
                <th scope="col">Exam type</th>
                <th scope="col">Exam sem type</th>
                <th scope="col">Regular or back</th>
                <th scope="col">Exam centre</th>
                <th scope="col">Exam date</th>
                <th scope="col">Exam time</th>
                <th scope="col">Others</th>
                
                
            </tr>
        </thead>
        <tbody>

            {% for n in addexam_data %}
            <tr >
                <!--<th scope="row" id="increasenewapptable"></th>-->
                
                <!--<td class="increasenewapptable" id="count"></td>-->
                <th>{{forloop.counter}}</th>
                <td>{{n.examname}}</td>
                <td>{{n.examtype}}</td>
                <td>{{n.examsemtype}}</td>
                <td>{{n.regularback}}</td>
                <td>{{n.examcentre}}</td>
                {% comment %} <td>{{n.examdate}}</td> {% endcomment %}
                <td>{{n.newexamdate}}</td>
                <td>{{n.newexamtime}}</td>
                {% comment %} <td>{{n.examtime}}</td> {% endcomment %}
                {% comment %} {% for t in teachers %}
                    {{t.newappname}}
                {% endfor %} {% endcomment %}
                <td>
                    <a href="{% url 'updateexam' n.id %}" ><button class="btn btn-info btn-sm">Update</button></a>
                    <a href="{% url 'deleteexam' n.id %}" ><button class="btn btn-danger btn-sm">Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock viewexamcontent %}

